.key-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row1, .row2, .row3{
    display: flex;
    width: 55.5em;
    height: 4em;
    border-radius: 0.1em;
    justify-content: center;
    align-items: center;
  }
  .row1 > *, .row2 > *, .row3 > *{
    display: flex;
    width: 2em;
    height: 2em;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 0.2em;
    background: linear-gradient(180deg, #01B3FF, #00A006);
    border-radius: 4px;
    color: #11FFEF;
    min-width: 0.6em;
    border: 2px solid rgba(129, 52, 52, 0.795);
  }